* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:focus {
  outline: none;
}
input:focus::-moz-placeholder {
  opacity: 0;
}
input:focus::placeholder {
  opacity: 0;
}

body {
  background: #487ef3;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body main {
  background: #fff;
  width: 90%;
  height: 50%;
  padding: 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
body main form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
body main form h1 {
  text-align: center;
}
body main form input[type=text] {
  width: 400px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #333;
}
body main form input[type=text]::-moz-placeholder {
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
body main form input[type=text]::placeholder {
  transition: all 0.3s;
}
body main form p {
  color: #ff5967;
  font-weight: bold;
  font-size: 20px;
}
body main form .button_wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}
body main form .button_wrapper button {
  padding: 10px 60px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  color: #fff;
}
body main form .button_wrapper button.cancel {
  background: #959595;
}
body main form .button_wrapper button.submit {
  background: #487ef3;
}