* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header */
header {
  width: 80%;
  height: 100px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 20px;
}

.gnb {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  ul {
    display: flex;
    gap: 14px;
    color: #999;
    font-size: 14px;
  }
}

.lnb {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: end;
  h2 {
    font-size: 40px;
  }
  ul {
    display: flex;
    gap: 140px;
    padding: 0 20px;
    a {
      font-weight: 700;
      font-size: 18px;
      color: #555;
    }
  }
}

/* main */
main {
  width: 100%;
  height: 100%;
}

.main_content {
  width: 80%;
  height: 800px;
  position: relative;
  margin: 0 auto;
  .main_content_text {
    /* display: block; */
    width: 100%;
    /* margin: 0 auto; */
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #fff;
    /* display: flex;
    flex-direction: column; */

    h1 {
      font-size: 70px;
    }
    p {
      width: 30%;
    }
    .main_content_btn button {
      width: 250px;
      margin-top: 40px;
      padding: 6px;
      background: transparent;
      border: 1px solid #fff;
      color: #fff;
      font-size: 12px;
      font-weight: 700;
    }
  }
}

.main_content_video {
  position: absolute;
  /* display: block; */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  filter: grayscale(1);
  z-index: -1;
  video {
    width: 100%;
    height: 100%;
  }
}

.main_recentnews {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  .main_recentnews_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    h5 {
      font-size: 30px;
      color: #555;
    }
    .recentnews_cards {
      display: flex;
    }
  }
}
