* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("https://www.novascotia.com/sites/default/files/2022-09/Rainbow_Skyline-Trail-1920x1080.jpg") center/cover no-repeat;
}
body .noti {
  display: none;
  text-align: center;
  color: crimson;
  background: #fff;
  padding: 10px;
  border: 4px solid crimson;
  border-radius: 8px;
  font: normal 18px/1.6 "aial";
}
body .noti.active {
  display: block;
}
body .container {
  width: 400px;
  height: 300px;
  color: #fff;
  padding: 16px;
  background: rgba(65, 105, 225, 0.8);
  border: 4px solid #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container .current_weather {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
body .container .current_weather img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}
body .container .current_weather .temp {
  font: bold 24px/1 "arial";
}
body .container .current_weather .info {
  display: flex;
  gap: 20px;
}