// fonts
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
// font-family: "Montserrat", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Monoton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Monoton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

// variable
$mono-font: "Monoton", sans-serif;
$Montserrat-font: "Montserrat", sans-serif;
$Raleway-font: "Raleway", sans-serif;

// common
html {
  font-size: 14px;
}

// width&height : 하나의 고정된 값으로 가겠다
// 만약 작성한 문서가 반응형 최적화할 수 있는 레이아웃박스를 사용하더라도
// min- : 최소한의 사이즈를 보장
// max- : 최대한
// video
.video_frame {
  position: relative;
  height: 100vh;
  width: 100%;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-135deg, crimson, transparent);
  }
  video {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
  }
}

// logo
.logo {
  position: absolute;
  top: 50px;
  left: 100px;
}

// heading {
.heading {
  position: absolute;
  bottom: 100px;
  left: 50px;
  width: 700px;
  animation: showing1 2s 1s linear both;
  h1 {
    font-size: 3.6rem;
    span {
      display: block;
      color: crimson;
    }
  }
  p {
    font-size: 1.4rem;
    color: #fff;
  }
  .buttons {
    a {
      display: inline-block;
      width: 150px;
      background: #fff;
      color: #222;
      padding: 7px;
      margin: 14px 8px 0 0;
      text-align: center;
      border: 2px solid #fff;
      border-radius: 20px;
      transition: all 0.5s;
      &.btn_learn {
        background: transparent;
        color: #fff;
        &:hover {
          background: #fff;
          color: #000;
        }
      }
      &.btn_book:hover {
        background: #000;
        color: #fff;
        border: 2px solid #000;
      }
    }
  }
}

// anniversary
.anniversary {
  position: absolute;
  right: 100px;
  bottom: 50px;
  text-align: center;
  animation: showing2 2s 1s linear both;
  em {
    display: block;
    font-size: 2.2rem;
    font-style: normal;
    letter-spacing: 5px;
    margin-bottom: -30px;
  }
  span {
    font-family: $mono-font;
    font-size: 10rem;
  }
}

// trigger
.trigger {
  position: absolute;
  top: 50px;
  right: 100px;
  width: 40px;
  height: 20px;
  cursor: pointer;
  z-index: 3;
  span {
    position: absolute;
    width: 100%;
    height: 1px;
    background: #000;
    transition: all 0.3s;
    &:nth-child(1) {
      top: 0;
      left: 0;
    }
    &:nth-child(2) {
      top: 50%;
      width: 80%;
    }
    &:nth-child(3) {
      top: 100%;
    }
  }
  &.active {
    span {
      background: #fff;
      &:nth-child(1) {
        top: 50%;
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        top: 50%;
        transform: rotate(-45deg);
      }
    }
  }
}

// modal
.modal_gnb {
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  .gnb {
    display: flex;
    flex-direction: column;
    gap: 10px;
    a {
      color: #fff;
      font-size: 3rem;
      font-family: $Raleway-font;
      transition: all 0.5s;
      animation: gnb 0.5s linear both;
      &:nth-child(1) {
        animation-delay: 0.5s;
      }
      &:nth-child(2) {
        animation-delay: 0.7s;
      }
      &:nth-child(3) {
        animation-delay: 0.9s;
      }
      &:nth-child(4) {
        animation-delay: 1.1s;
      }
      &:nth-child(5) {
        animation-delay: 1.3s;
      }
      &:hover {
        color: crimson;
      }
    }
  }
  &.active {
    display: flex;
  }
}

// animation
@keyframes showing1 {
  0% {
    opacity: 0;
    margin-left: -100px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}

@keyframes showing2 {
  0% {
    opacity: 0;
    margin-right: -100px;
  }
  100% {
    opacity: 1;
    margin-right: 0px;
  }
}

@keyframes gnb {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
