.searchbar_container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  & > input:nth-child(1) {
    flex: 1;
    padding: 15px;
    border: 1px solid rgb(220, 220, 220);
  }
  & > input:nth-child(2) {
    border: none;
    padding: 4px 10px;
    width: 80px;
    border-radius: 8px;
    background: rgb(37, 147, 225);
    color: #fff;
    cursor: pointer;
  }
}
