* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
main form input[type=text] {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  font-size: 18px;
}
main form input[type=text]:focus {
  outline: none;
}
main form input[type=submit] {
  padding: 10px 26px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
}
main .todos {
  width: 100%;
}
main .todos .todo {
  margin: 16px 0;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .todos .todo .todo_content {
  flex: 1;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 10px;
  margin-right: 10px;
  text-align: center;
}
main .todos .todo .todo_content.completed {
  text-decoration: line-through;
  color: #d8d8d8;
  opacity: 0.5;
}
main .todos .todo button {
  font-size: 14px;
  margin-right: 8px;
  padding: 6px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
main .todos .todo button:hover {
  background: #000;
  color: #fff;
}