doctype html
html(lang="ko")
  head
    title #{docTitle} | Youtube
    <link rel="stylesheet" href="https://unpkg.com/mvp.css"> 
    style. 
      nav ul {
          display : flex;
          gap : 4px;
        }
      a {
        color : inherit;
        text-decoration : none;
        cursor : pointer;
      }
  body
    header 
      nav 
        ul 
          li 
            a(href="/") Home
          li 
            a(href="/login") Login
          li
            a(href="/videos/upload") UploadVideo
      h1=docTitle
    main
      block content
    include partials/footer.pug